<div class="btn-group">
  <% if local_assigns[:csv_path] %>
    <%= link_to csv_path, class: "btn btn-outline-secondary btn-sm" do %>
      <i class="bi bi-file-earmark-spreadsheet me-1"></i> Export CSV
    <% end %>
  <% end %>

  <% if local_assigns[:pdf_path] %>
    <%= link_to pdf_path, class: "btn btn-outline-secondary btn-sm" do %>
      <i class="bi bi-file-earmark-pdf me-1"></i> Export PDF
    <% end %>
  <% end %>
</div>
